<template name='admin'>
  <!-- <p>идеи для изменения приложения:</p>
  <ul>
    <li>выбираем сообщение из бд и меняем ему текст</li>
    <li>убираем элементы интерфейса (допустим кнопку назад)</li>
    <li>создаём много новых пользователей и начинаем обстреливать кото-то сообщениями</li>
    <li>создаём новые сообщения в беседе</li>
    <li>меняем данные о пользователе: возраст, аву, имя, статус</li>
    <li>имулируем действия пользователя: набор сообщения и прочее прочее</li>
    <li>пользователь пишет сам себе!!!</li>
  </ul> -->
  <pre style="color: white; width: 100vw; height: 90vh; overflow: scroll">{{SHE}}</pre>
</template>
