<template name="join">
    <input id='phoneJoin' placeholder="+7" />
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 750 1334" enable-background="new 0 0 750 1334" xml:space="preserve">
    <g id="backgroung">
    	<rect fill="#1A1A1A" stroke-miterlimit="10" width="750" height="1334"/>
    </g>
    <g id="next">
    	<g>
    		<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="170.9129" y1="1012.9183" x2="612.1574" y2="1012.9183">
    			<stop  offset="0" style="stop-color:#FFFF00"/>
    			<stop  offset="0.1146" style="stop-color:#00FFFF"/>
    			<stop  offset="0.3088" style="stop-color:#FF0EEF"/>
    			<stop  offset="0.4948" style="stop-color:#FBB03B"/>
    			<stop  offset="0.6871" style="stop-color:#662D91"/>
    			<stop  offset="0.994" style="stop-color:#000000"/>
    		</linearGradient>
    		<path stroke="url(#SVGID_2_)" stroke-width="1.7697" stroke-miterlimit="10" d="M203.5,946.1h376.1c17.5,0,31.7,14.2,31.7,31.7
    			v70.3c0,17.5-14.2,31.7-31.7,31.7H203.5c-17.5,0-31.7-14.2-31.7-31.7v-70.3C171.8,960.3,186,946.1,203.5,946.1z"/>
    		<text transform="matrix(1 0 0 1 327.5361 1029.9396)" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.8836" font-weight='100' stroke-miterlimit="10" font-size="66.3866">Join</text>
    	</g>
    </g>
    <!-- <g id="Number">
    	<rect x="193" y="758" fill="none" width="379.8" height="51.4"/>
    	<text transform="matrix(1 0 0 1 192.9714 800.0244)" fill="#F2F2F2" stroke="#F2F2F2" stroke-miterlimit="10" font-weight='100' font-size="59.9712">+7</text>
    </g> -->
    <g id="Esc_app">
    		<text transform="matrix(1 0 0 1 253.7817 461.6782)" fill="#FFFFFF" stroke="#FFFFFF" font-weight='100' stroke-miterlimit="10" font-size="75.1281">Esc app</text>
    </g>
    </svg>

</template>
