@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100&subset=latin,cyrillic);

#headerChat{
  width: 100%;
  height: 14vh;
  background: black;
  color: white;
  border-bottom-right-radius: 40px 40px;
  border-bottom-left-radius: 40px 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
#headerChat .ava {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
  background: white;
}
#headerChat .back {
  font-size: 2em;
  margin-left: 40px;
  text-decoration: none;
  color: white;
}
#headerChat .name {
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}

.chatbackrg{
  background: #333;
}
/*#headerChat p{
  float: right;
  display: inline-block;
}
#headerChat a{
  float: left;
  display: inline-block;
}*/
.chat {
  height: 70vh;
  min-width: 300px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  background: #333;
  overflow-y: scroll;
  overflow-x: hidden;
}
.bottompanel{
  position: relative;
  bottom: 0;
  background: black;
  color: white;
  width: 100%;
  height: 16vh;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}
#message{
  width: 60%;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  height: 30px;
  border-radius: 5px;
  border: none;
  margin-top: 30px;
  position: relative;
  left: 20%;
  overflow: hidden;
  padding: 0;
  outline: none;
  background-color: #D0D0D0;
  resize: none;
}
